body {
    background-color: #021859;
}

.text-white {
    color: #F2F2F2;
}

.img-profile {
    height:20vh;
    width: auto;
}

.nav-bar {
    background-color: #011140;
    left: 0;
    width: 100%;
    height: 100px;
}

.alert {
    text-align: center;
    background-color: ;
}

.nav-bar-title {
    padding: 10px;
    padding-left: 50px;
}

.header {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.div-section {
    height: auto;
    background-color: #384773;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 4%;
    padding-top: 3%;
    padding-bottom: 2%;
    border-radius: 15px;
}